[Unit]
Description=Rock 5 C Penta HAT Fan Controller (hwmon)
After=multi-user.target

[Service]
Type=simple
User=root
ExecStart=/opt/rockpi-penta-venv/bin/python /usr/src/rockpi-penta/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
